<div class="page-header">
  <%= link_to political_party_users_url(@political_party), class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_political_party_user_url(@political_party,@user), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Show user</h1>
</div>

<dl class="dl-horizontal">
  <dt>First name:</dt>
  <dd><%= @user.first_name %></dd>

  <dt>Last name:</dt>
  <dd><%= @user.last_name %></dd>

  <dt>Email:</dt>
  <dd><%= @user.email %></dd>

  <dt>Mobile number:</dt>
  <dd><%= @user.mobile_number %></dd>
   
  <dt>Political party:</dt>
  <dd><%= @user.political_party.name %></dd>
  
  <dt>Is active:</dt>
  <dd><%= @user.is_active %></dd>

  

</dl>
