<div class="page-header">
  <%= link_to new_political_party_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Political party
  <% end %>
  <h3 class="text-info"><u><b>Active Political Party List </b></u></h3>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr> 
            <th>S.No</th>
             <th>Party Logo</th>
             <th>Short Name</th>
            <th>Full Name</th>
            <th>Description</th>
           
            <th>show</th>
            <th>Edit</th>
            <th>Deactivate</th>
            <th>Explore</th>
        
      </tr>
    </thead>

    <tbody>
      <% @active_political_parties.each_with_index do |political_party,index| %>
         <tr>
            <td><%= index+1 %></td>
            <td><%= image_tag political_party.picture.picture.url(:thumb) unless political_party.picture.nil?  %></td>
            <td><%= political_party.short_word %></td>
            <td><%= political_party.name %></td>
            <td><%= political_party.description[0..30]+"..." %></td>
            
            <td><%= link_to '<i class="fa fa-eye" aria-hidden="true"></i>'.html_safe, political_party ,:class=>"btn btn-sm btn-info"%></td>
        <td><%= link_to '<i class="fa fa-pencil-square-o" aria-hidden="true"></i>'.html_safe, edit_political_party_path(political_party),:class=>"btn btn-sm btn-success" %></td>
        <td><%= link_to '<i class="fa fa-times" aria-hidden="true"></i>'.html_safe, political_party, {method: :delete, data: { confirm: 'Are you sure?' },:class=>"btn btn-sm btn-danger" } %></td>
        <td><%= link_to '<i class="fa fa-user" aria-hidden="true"></i>'.html_safe,political_party_users_url(political_party),:class=>"btn btn-sm btn-info" %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>



<div class="page-header">
 
  <h3 class="text-info"><u><b>In Active Political Party List </b></u></h3>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>  <th>S.No</th>
              <th>Party Logo</th>
             <th>Short Name</th>
            <th>Full Name</th>
            <th>Description</th>
           
            <th>show</th>
            <th>Edit</th>
            <th>Deactivate</th>
        
      </tr>
    </thead>

    <tbody>
      <% @inactive_political_parties.each_with_index do |political_party,index| %>
         <tr>
            <td><%= index+1 %></td>
             <td><%= image_tag political_party.picture.picture.url(:thumb) unless political_party.picture.nil?  %></td>
            <td><%= political_party.short_word %></td>
            <td><%= political_party.name %></td>
            <td><%= political_party.description[0..30]+"..." %></td>
           
            <td><%= link_to '<i class="fa fa-eye" aria-hidden="true"></i>'.html_safe, political_party ,:class=>"btn btn-sm btn-info"%></td>
        <td><%= link_to '<i class="fa fa-pencil-square-o" aria-hidden="true"></i>'.html_safe, edit_political_party_path(political_party),:class=>"btn btn-sm btn-success" %></td>
        <td><%= link_to '<i class="fa fa-times" aria-hidden="true"></i>'.html_safe, political_party, {method: :delete, data: { confirm: 'Are you sure?' },:class=>"btn btn-sm btn-danger" } %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>